.App-logo img {
  padding-right: 1rem;
  float: left;
  width: 2rem;
}

.App-logo h1 {
  font-size: 1.75rem;
  font-weight: bold;
  color: #FCCE74;
  float: left;
  line-height: 2rem;
  margin: 0;
}

.Github a {
  font-size: 1rem;
  font-weight: bold;
  color: #FCCE74;
  float: right;
  margin: 0;
  line-height: 2rem;
}


